body {
    font-size: 13px;
}

.default-color {
    color: #E74C3C;
}

.nav-height-50 {
    height: 50px;
}

.grey-bg-color {
    background-color: #F2F2F2;
}

.white-bg-color {
    background-color: white;
}

.border-left {
    border-left: 1px solid #F2F2F2;
}

.border-right {
    border-right: 1px solid #F2F2F2;
}

.icon {
    max-width: 24px;
}

.icon-sm {
    max-width: 15px;
}

.font-sm {
    font-size: 11px;
}


.bootstrap-table .fixed-table-container .fixed-table-body {
    height: initial !important;
    /* override the height so that the table is not expanded to 100% */
}

/* centering the pagination */
.fixed-table-pagination {
    text-align: center;
}

.bootstrap-table .fixed-table-pagination>.pagination {
    display: inline-block;
}